.character-gallery-header{
    display: flex;
    flex-row: row wrap;
    justify-content: center;
    background-color: maroon;
}

.character-gallery{
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    background-color: maroon;
}

h1{
    font-family: cursive;
    color: gold;
}